.shaddowbanner {
  background-image: url('./assets/Images/shadowbanner.png');
}
.bannerbgimg {
  background-image: url('./assets/Images/bannerbgimg.png');
}
.banner {
  background-image: url('./assets/Images/banner.png');
}
.whobanner {
  background-image: url('./assets/Images/whobanner.png');
}
.jamesbanner {
  background-image: url('./assets/Images/jamesbanner.png');
}
.blackpage {
  background-image: url('./assets/Images/blackpage.png');
}
.redbannerimg {
  background-image: url('./assets/Images/redbannerimg.png');
}